# direnv environment configuration
# https://direnv.net/

## Machine-specific settings

# https://direnv.net/man/direnv-stdlib.1.html#codesourceenvifexists-ltfilenamegtcode
# https://github.com/direnv/direnv/issues/556
source_env_if_exists .envrc.local
env_vars_required CLIENT_ID CLIENT_SECRET

## Dependency checks

# Just warn if a dependency is missing, so the environment still loads
function warn_if_missing() {
  local name="$1"
  local program="${2:-$name}"

  if ! has "$program"
  then
    echo "Missing dependency: $name"
  fi
}
